doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
div(style=`max-width: 600px;min-width:320px;text-align: center;font-family:sans-serif;color: #1f2428;margin: auto;padding-bottom: 100px;position: relative;background-image: url(${imageData.shape});background-repeat: no-repeat;background-position: top center;background-size: auto;`)
  table(width='100%;')
    tr
      td
        img(src=`${imageData.logo}` style='margin: 45px 15px 10px;')
    tr
      td
        img(src=`${imageData.hero}` width='218px;')
    tr
      td
        h3(style='color: #4fb263;font-size: 24px;margin: 30px 15px 40px;')
          | Welcome to LoanTack!
    tr
      td(style='font-size: 16px;line-height: 27px;')
        div(style='margin-bottom: 10px;') Hi there,
        div(style='margin-bottom: 10px;')
          | Your BrandedApp Request has been Rejected by Admin.
        div(style='margin-bottom: 10px;') Reason
        div(style='margin-bottom: 10px;')= `${reason}`